In [1]:
import duckdb 

with duckdb.connect("data/sakila.duckdb") as conn: 
    description = conn.sql("DESC;").df()

description

,database,schema,name,column_names,column_types,temporary
0,sakila,staging,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,sakila,staging,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,sakila,staging,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,sakila,staging,actor,"[actor_id, first_name, last_name, last_update,...","[DECIMAL(38,9), VARCHAR, VARCHAR, TIMESTAMP, V...",False
4,sakila,staging,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
5,sakila,staging,category,"[category_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
6,sakila,staging,city,"[city_id, city, country_id, last_update, _dlt_...","[BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, ...",False
7,sakila,staging,country,"[country_id, country, last_update, _dlt_load_i...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
8,sakila,staging,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
9,sakila,staging,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",False
10,sakila,staging,film_actor,"[actor_id, film_id, last_update, _dlt_load_id,...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
11,sakila,staging,film_category,"[film_id, category_id, last_update, _dlt_load_...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
12,sakila,staging,inventory,"[inventory_id, film_id, store_id, last_update,...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False
13,sakila,staging,language,"[language_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
14,sakila,staging,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DECIMAL(5,2),...",False
15,sakila,staging,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",False
16,sakila,staging,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, BLOB, VARCH...",False
17,sakila,staging,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False

### Storing data into dictionary of dfs

In [2]:
dfs = {}

with duckdb.connect("data/sakila.duckdb") as conn:
    for name in description["name"]:
        if name[0] != "_":
            dfs[name] = conn.sql(f"FROM staging.{name};").df()
            
            duckdb.register(name, dfs[name])
        
dfs["actor"]

,actor_id,first_name,last_name,last_update,_dlt_load_id,_dlt_id
0,1.0,PENELOPE,GUINESS,2021-03-06 15:51:59,1765369219.471438,QHTgGSdpnAevQg
1,2.0,NICK,WAHLBERG,2021-03-06 15:51:59,1765369219.471438,JyW3/Ixwb1EzWQ
2,3.0,ED,CHASE,2021-03-06 15:51:59,1765369219.471438,IQCjJCpB2yQB1A
3,4.0,JENNIFER,DAVIS,2021-03-06 15:51:59,1765369219.471438,r3PF5iAyk5wkIA
4,5.0,JOHNNY,LOLLOBRIGIDA,2021-03-06 15:51:59,1765369219.471438,LZk8dK2JrMcqiQ
...,...,...,...,...,...,...
195,196.0,BELA,WALKEN,2021-03-06 15:52:00,1765369219.471438,R7JLaE6RvN5cxw
196,197.0,REESE,WEST,2021-03-06 15:52:00,1765369219.471438,eWV/ALGpEmw5NA
197,198.0,MARY,KEITEL,2021-03-06 15:52:00,1765369219.471438,VwAmg3sUnvanFA
198,199.0,JULIA,FAWCETT,2021-03-06 15:52:00,1765369219.471438,CmHGlR4TE+SBUA
199,200.0,THORA,TEMPLE,2021-03-06 15:52:00,1765369219.471438,leQE/370jgulsg

In [3]:
duckdb.sql("DESC;")

┌──────────┬─────────┬───────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────────┐
│ database │ schema  │     name      │                                                                                             column_names                                                                                             │                                                            column_types                                                            │ temporary │
│ varchar  │ varchar │    varchar    │                                                                                              varchar[]                                                                                               │                                                             varchar[]                                                              │  boolean  │
├──────────┼─────────┼───────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────────┤
│ temp     │ main    │ actor         │ [actor_id, first_name, last_name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                │ [DOUBLE, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                            │ true      │
│ temp     │ main    │ address       │ [address_id, address, address2, district, city_id, postal_code, phone, last_update, _dlt_load_id, _dlt_id]                                                                                           │ [BIGINT, VARCHAR, '"NULL"', VARCHAR, BIGINT, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                        │ true      │
│ temp     │ main    │ category      │ [category_id, name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ city          │ [city_id, city, country_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                      │ [BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                             │ true      │
│ temp     │ main    │ country       │ [country_id, country, last_update, _dlt_load_id, _dlt_id]                                                                                                                                            │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ customer      │ [customer_id, store_id, first_name, last_name, email, address_id, active, create_date, last_update, _dlt_load_id, _dlt_id]                                                                           │ [BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VARCHAR, TIMESTAMP, TIMESTAMP, VARCHAR, VARCHAR]                               │ true      │
│ temp     │ main    │ film          │ [film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, special_features, last_update, _dlt_load_id, _dlt_id] │ [BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BIGINT, BIGINT, DOUBLE, BIGINT, DOUBLE, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR] │ true      │
│ temp     │ main    │ film_actor    │ [actor_id, film_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                                      │ true      │
│ temp     │ main    │ film_category │ [film_id, category_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                           │ [BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                                      │ true      │
│ temp     │ main    │ inventory     │ [inventory_id, film_id, store_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                │ [BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                              │ true      │
│ temp     │ main    │ language      │ [language_id, name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ payment       │ [payment_id, customer_id, staff_id, rental_id, amount, payment_date, last_update, _dlt_load_id, _dlt_id]                                                                                             │ [BIGINT, BIGINT, BIGINT, BIGINT, DOUBLE, TIMESTAMP, TIMESTAMP, VARCHAR, VARCHAR]                                                   │ true      │
│ temp     │ main    │ rental        │ [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update, _dlt_load_id, _dlt_id]                                                                                       │ [BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                │ true      │
│ temp     │ main    │ staff         │ [staff_id, first_name, last_name, address_id, picture, email, store_id, active, username, password, last_update, _dlt_load_id, _dlt_id]                                                              │ [BIGINT, VARCHAR, VARCHAR, BIGINT, '"NULL"', VARCHAR, BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]               │ true      │
│ temp     │ main    │ store         │ [store_id, manager_staff_id, address_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                         │ [BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                              │ true      │
├──────────┴─────────┴───────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴───────────┤
│ 15 rows                                                                                                                                                                                                                                                                                                                                                                          6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Task 1, a)

In [4]:
duckdb.sql("""--sql
SELECT
    film.title,
    film.length,
    film.release_year
FROM
    film

WHERE
    film.length > 180
""")

┌────────────────────┬────────┬──────────────┐
│       title        │ length │ release_year │
│      varchar       │ int64  │   varchar    │
├────────────────────┼────────┼──────────────┤
│ ANALYZE HOOSIERS   │    181 │ 2006         │
│ BAKED CLEOPATRA    │    182 │ 2006         │
│ CATCH AMISTAD      │    183 │ 2006         │
│ CHICAGO NORTH      │    185 │ 2006         │
│ CONSPIRACY SPIRIT  │    184 │ 2006         │
│ CONTROL ANTHEM     │    185 │ 2006         │
│ CRYSTAL BREAKING   │    184 │ 2006         │
│ DARN FORRESTER     │    185 │ 2006         │
│ FRONTIER CABIN     │    183 │ 2006         │
│ GANGS PRIDE        │    185 │ 2006         │
│      ·             │     ·  │  ·           │
│      ·             │     ·  │  ·           │
│      ·             │     ·  │  ·           │
│ SOLDIERS EVOLUTION │    185 │ 2006         │
│ SONS INTERVIEW     │    184 │ 2006         │
│ SORORITY QUEEN     │    184 │ 2006         │
│ STAR OPERATION     │    181 │ 2006         │
│ SWEET BROTHERHOOD  │    185 │ 2006         │
│ THEORY MERMAID     │    184 │ 2006         │
│ WIFE TURN          │    183 │ 2006         │
│ WILD APOLLO        │    181 │ 2006         │
│ WORST BANGER       │    185 │ 2006         │
│ YOUNG LANGUAGE     │    183 │ 2006         │
├────────────────────┴────────┴──────────────┤
│ 39 rows (20 shown)               3 columns │
└────────────────────────────────────────────┘

## Task 1 b)

In [5]:
duckdb.sql("""--sql
SELECT
    film.title,
    film.rating,
    film.length,
    description

FROM
    film    

WHERE 
    REGEXP_MATCHES(title, '\\bLOVE\\b') --Why do i need double backslash here?

""")

┌───────────────┬─────────┬────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│     title     │ rating  │ length │                                                 description                                                  │
│    varchar    │ varchar │ int64  │                                                   varchar                                                    │
├───────────────┼─────────┼────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ GRAFFITI LOVE │ PG      │    117 │ A Unbelieveable Epistle of a Sumo Wrestler And a Hunter who must Build a Composer in Berlin                  │
│ IDAHO LOVE    │ PG-13   │    172 │ A Fast-Paced Drama of a Student And a Crocodile who must Meet a Database Administrator in The Outback        │
│ INDIAN LOVE   │ NC-17   │    135 │ A Insightful Saga of a Mad Scientist And a Mad Scientist who must Kill a Astronaut in An Abandoned Fun House │
│ LAWRENCE LOVE │ NC-17   │    175 │ A Fanciful Yarn of a Database Administrator And a Mad Cow who must Pursue a Womanizer in Berlin              │
│ LOVE SUICIDES │ R       │    181 │ A Brilliant Panorama of a Hunter And a Explorer who must Pursue a Dentist in An Abandoned Fun House          │
└───────────────┴─────────┴────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Task 1 c)

In [6]:
#  Calculate descriptive statistics on the length column, The Manager wants, shortest, average, median and
#  longest movie length


duckdb.sql("""--sql
SELECT
    ROUND(MIN(length)) AS shortest_length,
    ROUND(AVG(length)) AS average_length,
    ROUND(MEDIAN(length)) AS median_length,
    ROUND(MAX(length)) AS longest_length

FROM
    film



""")

┌─────────────────┬────────────────┬───────────────┬────────────────┐
│ shortest_length │ average_length │ median_length │ longest_length │
│      int64      │     double     │    double     │     int64      │
├─────────────────┼────────────────┼───────────────┼────────────────┤
│              46 │          115.0 │         114.0 │            185 │
└─────────────────┴────────────────┴───────────────┴────────────────┘

## Task 1 d)

In [14]:
# The rental rate is the cost to rent a movie and the rental duration is the number of days a customer can
# keep the movie. The Manager wants to know the 10 most expensive movies to rent per day.

duckdb.sql("""--sql
SELECT
    title,
    rental_rate,
    rental_duration,
    ROUND(rental_rate / rental_duration, 2) AS cost_per_day
    
FROM
    film
    
ORDER BY
    cost_per_day DESC
    
""")

┌───────────────────────┬─────────────┬─────────────────┬──────────────┐
│         title         │ rental_rate │ rental_duration │ cost_per_day │
│        varchar        │   double    │      int64      │    double    │
├───────────────────────┼─────────────┼─────────────────┼──────────────┤
│ PATHS CONTROL         │        4.99 │               3 │         1.66 │
│ BACKLASH UNDEFEATED   │        4.99 │               3 │         1.66 │
│ BEHAVIOR RUNAWAY      │        4.99 │               3 │         1.66 │
│ VIRTUAL SPOILERS      │        4.99 │               3 │         1.66 │
│ TEEN APOLLO           │        4.99 │               3 │         1.66 │
│ TELEGRAPH VOYAGE      │        4.99 │               3 │         1.66 │
│ BILKO ANONYMOUS       │        4.99 │               3 │         1.66 │
│ HEARTBREAKERS BRIGHT  │        4.99 │               3 │         1.66 │
│ CLERKS ANGELS         │        4.99 │               3 │         1.66 │
│ TIES HUNGER           │        4.99 │               3 │         1.66 │
│      ·                │          ·  │               · │           ·  │
│      ·                │          ·  │               · │           ·  │
│      ·                │          ·  │               · │           ·  │
│ SIEGE MADRE           │        0.99 │               7 │         0.14 │
│ LAWRENCE LOVE         │        0.99 │               7 │         0.14 │
│ DRACULA CRYSTAL       │        0.99 │               7 │         0.14 │
│ SILENCE KANE          │        0.99 │               7 │         0.14 │
│ STREAK RIDGEMONT      │        0.99 │               7 │         0.14 │
│ FRANKENSTEIN STRANGER │        0.99 │               7 │         0.14 │
│ LEGEND JEDI           │        0.99 │               7 │         0.14 │
│ CATCH AMISTAD         │        0.99 │               7 │         0.14 │
│ CELEBRITY HORN        │        0.99 │               7 │         0.14 │
│ SPIRIT FLINTSTONES    │        0.99 │               7 │         0.14 │
├───────────────────────┴─────────────┴─────────────────┴──────────────┤
│ 1000 rows (20 shown)                                       4 columns │
└──────────────────────────────────────────────────────────────────────┘

## Task 1 e)

In [ ]:
# Which actors have played in most movies? Show the top 10 actors with the number of movies they have
# played in.

In [39]:
duckdb.sql("""--sql

SELECT
    actor.actor_id,
    actor.first_name,
    actor.last_name,
    COUNT(film_actor.film_id) AS number_of_movies

FROM
    actor
    
INNER JOIN
    film_actor ON actor.actor_id = film_actor.actor_id
    

GROUP BY
    actor.actor_id,
    actor.first_name,
    actor.last_name
    
ORDER BY 
    number_of_movies DESC
    
LIMIT 10

""")

┌──────────┬────────────┬───────────┬──────────────────┐
│ actor_id │ first_name │ last_name │ number_of_movies │
│  double  │  varchar   │  varchar  │      int64       │
├──────────┼────────────┼───────────┼──────────────────┤
│    107.0 │ GINA       │ DEGENERES │               42 │
│    102.0 │ WALTER     │ TORN      │               41 │
│    198.0 │ MARY       │ KEITEL    │               40 │
│    181.0 │ MATTHEW    │ CARREY    │               39 │
│     23.0 │ SANDRA     │ KILMER    │               37 │
│     81.0 │ SCARLETT   │ DAMON     │               36 │
│     60.0 │ HENRY      │ BERRY     │               35 │
│    158.0 │ VIVIEN     │ BASINGER  │               35 │
│     13.0 │ UMA        │ WOOD      │               35 │
│     37.0 │ VAL        │ BOLGER    │               35 │
├──────────┴────────────┴───────────┴──────────────────┤
│ 10 rows                                    4 columns │
└──────────────────────────────────────────────────────┘

## Task 1 Optional questions f)

### Which store has the most customers?

In [ ]:
duckdb.sql("""--sql

SELECT
    store_id,
    COUNT(customer_id) as number_of_customers
    
FROM 
    customer
    
GROUP BY
    store_id
    
ORDER BY
    number_of_customers DESC

""")

┌──────────┬─────────────────────┐
│ store_id │ number_of_customers │
│  int64   │        int64        │
├──────────┼─────────────────────┤
│        1 │                 326 │
│        2 │                 273 │
└──────────┴─────────────────────┘

### What are the top 10 movies in our inventory?

In [71]:
duckdb.sql("""--sql

SELECT
    film.title,
    COUNT(inventory.inventory_id) AS number_of_copies
    
FROM film

JOIN inventory ON film.film_id = inventory.film_id

GROUP BY
    film.title
    
ORDER BY
    number_of_copies DESC
    
LIMIT 10;

""")

┌───────────────────────┬──────────────────┐
│         title         │ number_of_copies │
│        varchar        │      int64       │
├───────────────────────┼──────────────────┤
│ FORWARD TEMPLE        │                8 │
│ GOODFELLAS SALUTE     │                8 │
│ GARDEN ISLAND         │                8 │
│ BOUND CHEAPER         │                8 │
│ JUGGLER HARDLY        │                8 │
│ CROSSROADS CASUALTIES │                8 │
│ MUSCLE BRIGHT         │                8 │
│ DEER VIRGINIAN        │                8 │
│ HUSTLER PARTY         │                8 │
│ RIDGEMONT SUBMARINE   │                8 │
├───────────────────────┴──────────────────┤
│ 10 rows                        2 columns │
└──────────────────────────────────────────┘

### What are our top 10 highest replacement costs?

In [74]:
duckdb.sql("""--sql

SELECT
    title,
    replacement_cost

FROM 
    film
    
ORDER BY
    replacement_cost DESC
    
LIMIT 10

""")

┌─────────────────────────┬──────────────────┐
│          title          │ replacement_cost │
│         varchar         │      double      │
├─────────────────────────┼──────────────────┤
│ BLINDNESS GUN           │            29.99 │
│ BONNIE HOLOCAUST        │            29.99 │
│ CLYDE THEORY            │            29.99 │
│ ARABIA DOGMA            │            29.99 │
│ CRUELTY UNFORGIVEN      │            29.99 │
│ CLOCKWORK PARADISE      │            29.99 │
│ CUPBOARD SINNERS        │            29.99 │
│ BALLROOM MOCKINGBIRD    │            29.99 │
│ CHARIOTS CONSPIRACY     │            29.99 │
│ DESPERATE TRAINSPOTTING │            29.99 │
├─────────────────────────┴──────────────────┤
│ 10 rows                          2 columns │
└────────────────────────────────────────────┘

### Which staff member has generated the least revenue and how many rentals have they handled?

In [ ]:
duckdb.sql("""--sql

SELECT
    staff.staff_id,
    staff.first_name,
    staff.last_name,
    COUNT(payment.payment_id) AS number_of_payments,
    SUM(payment.amount) AS total_revenue,
    ROUND(payment.amount), 2) AS average_revenue_per_payment
    
FROM
    staff
    
JOIN payment ON staff.staff_id = payment.staff_id


GROUP BY
    total_revenue


ORDER BY total_revenue ASC;


""")

BinderException: Binder Error: GROUP BY clause cannot contain aggregates!